.A{
    text-align: center;
    font-weight: bold;
    color: white;
}
.N{
    font-family: 'Gill Sans', sans-serif;
    color: greenyellow;
    text-align: center;
}
.C{
    background-color: darkslateblue;
    text-align: center;
}
